@model IEnumerable<ProvaPratica.Models.Frete>

@{
    ViewData["Title"] = "Lista de Fretes";
}

<h2>Lista de Fretes</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Frete</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Veiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distancia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorFrete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Distancia)</td>
            <td>@Html.DisplayFor(modelItem => item.ValorFrete)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
