@model IEnumerable<ProvaPratica.Models.Veiculo>

@{
    ViewData["Title"] = "Lista de Veículos";
}

<h2>Lista de Veículos</h2>

<p>
    <a href="@Url.Action("Criar")" class="btn btn-primary">Criar Novo Veículo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Tipo de Veículo</th>
            <th>Peso</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TipoVeiculo</td>
                <td>@item.Peso</td>
                <td>
                    <a href="@Url.Action("Editar", new { id = item.Id })" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("Deletar", new { id = item.Id })" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
